<div [ngStyle]="{'backgroundColor': task.coefficient | getTaskColor}" (click)="openSideBar()" class="task task-hover" cdkDrag>
  <!-- <div class="task-top"> -->
    <div>{{ task.title }}</div>
    <!-- <task-status *ngIf="task" [task]="task"></task-status> -->
  <!-- </div> -->
  <!-- <div class="date-wrapper">
    <input
      (dateChange)="onDateChange($event)"
      class="hide"
      type="text"
      matInput
      [matDatepicker]="picker"
    />
    <span
      *ngIf="task.deadline"
      class="date"
      (click)="triggerDateChoose($event)"
      >{{ format(task.deadline) }}</span
    >
    <mat-icon style="font-size: 20px;" (click)="triggerDateChoose($event)" *ngIf="!task.deadline" fontIcon="insert_invitation"></mat-icon>
    <mat-datepicker-toggle
      class="hide"
      matIconSuffix
      [for]="picker"
      #dateToggle
    ></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </div> -->
</div>
