<mat-sidenav-container style="margin-left: 3vw; height: 100vh; color: #707172;">
    <mat-sidenav
      style="position: absolute ; top: 50px;width: 30%;color: #707172;"
      position="end"
      #sidenav
      mode="side"
      [(opened)]="opened"
      [fixedInViewport]="true"
    >
    <app-task-dialog></app-task-dialog>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="kanban-wrapper">
            <div *ngIf="isLoading" class="kanban-loader"><mat-spinner></mat-spinner></div>
            <div *ngIf="!isLoading" class="kanban-board" cdkDropListGroup cdkScrollable>
                <task-section [tasks]="taskSections.newTasks" [index]="taskStatusList.ASSIGNED"></task-section>
                <task-section [tasks]="taskSections.processTasks" [index]="taskStatusList.PROCESS"></task-section>
                <task-section [tasks]="taskSections.doneTasks" [index]="taskStatusList.DONE"></task-section>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>