.task-status {
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 5px;
    cursor: pointer;
}

.closed {
    background-color: #ffd2cc;
    color: #601e16;
}

.process {
    background-color: #f8e6a0;
    color: #533f04;
}

.done {
    background-color: #baf3db;
    color: #164b35;
}

.open {
    background-color: #cce0ff;
    color: #09326c;
}